

<section id="start" class="fill-page bg-teal">
	<img id="logo" src="lib/img/logo.png">
	<div class="form-group">
		<label for="alterEgo">timed game?</label>
		<input type="checkbox"  class="form-control"
		[(ngModel)]="model.timed">
	</div>
	<div class="form-group">
		<label for="power">Number of players </label>
		<select class="form-control"  required
		[(ngModel)]="model.numberOfPlayers" >
		<option *ngFor="#p of playerNumbers" [value]="p">{{p}}</option>
	</select>
	</div>
	
	<div class="center start-game-wrapper">
		<button (click)="startGame()" class="btn primary">Start</button>
	</div>
</section>